/* Footer */
footer{
    background-color: #F2F2F2;
    font-size: 15px;
}

footer section{
    display: flex;
    width: 1440px;
    padding: 30px;
}

footer section div{
    width: 100%;  
}

footer ul {
    padding: 0px;
    list-style: none;
}

footer ul li{
    margin: 10px 0 10px 0;
}
