*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

header, main {
    padding: 0px 50px;
}


#section-navigation{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    height: auto;
    max-width: 1340px;
    width: 100%;
    align-items: center;
    margin-top: 30px;

}

#logo-reservia{
    display: flex;
    justify-self: flex-start;
    height: 40px;
    /* margin-top: 15px; */
}

#sinscrire-style a{
    font-weight: bold;
    color: #0065FC;
}

/* propriétés link navigation */

.nav-items{
    display: flex;
    justify-content: flex-end;
    /* margin-right: 10px */
}

.hover-item {
    padding: 40px;
}

a{
    text-decoration: none;
}

div.hover-item{
    color: lightgray;
    justify-content: center;
}

div.hover-item:focus, div.hover-item:hover{
    border-top: unset;
    border-top: 4px solid #0065FC;
    width: 100%;
    color: #0065FC;
}




