
main{
    max-width: 1340px;
}
/* Section search */

#section-search{
    display: inline-flex;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-marker{
    background-color: #F2F2F2;
    padding: 15px;
    font-size: 1rem;
 
}

.button-search{
    background-color: #0065FC;
    border-style: none;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

/* Section filtres */

#section-filtres{
    display: flex;
    width: 100%;
    align-items: center;

}

#section-filtres-items{
    display: flex;
    width:  100%;
    list-style: none;   
}

.section-filtes-item{
    margin: 20px;
    position: relative;
    padding: 0px;

}

.section-filtres-icon{
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    top: unset;

}

.fas{
    color: #0065FC;
}

.section-filtres-title{
    border: 2px solid grey;
    border-radius: 25px;
    padding: 10px 10px 10px 50px;
    border-color: lightgray;
    font-weight: bold;
}

.info{
    display: flex;
    flex-direction: column;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
}

/* Section hebergement */

#section-hebergements{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 30px;
    width: 1340px;
}

#section-hebergement{
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 20px;
}

#section-hebergement-items{
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.section-hebergement-item{
    height: 230px;
    position: relative;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 12px gray;

}

.section-hebergement-img{
    height: 130px;
    width: 97%;
    margin: auto;
    margin-top: 3px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 50;
}

.text-hebergement{
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 0px;
    z-index: 150;
    padding: 10px;
    color: black;

}

.hebergemnt-text-margin{
    margin: 4px;
}

.star-grey{
    color: #F2F2F2;
}

.text-bold{
    font-weight: bolder;
}

/* section populaires */

#section-bloc-populaire{
    width: 425px;
    height: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.titre-populaire{
    display: flex;
    width: 345px;
    justify-content: space-between;
    align-items: center;
}

.chart-line-color{
    color: black;;
}

#section-populaires-items{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    width: 345px;
    padding-top: 20px;


}

.section-populaires-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 145px;
    /* width: calc(345px - 4px); */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 12px gray;

}

.section-populaire-texte{
    flex-direction: column;
    width: 215px;
    height: auto;
    padding: 10px;
    color: black;
}

.section-populaires-img{
    height: 135px;
    width: 128px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}


/* Section Activités */

#bloc-activites{
    padding-top: 20px;
    margin: auto;
    width: 1340px;
}

#section-activites{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 60px 0px;
}
/* Section activites items grande vignette */
/* Gestion du container parent
*/
.section-activites-items{
    border-radius: 20px;
    width: 305px;
    height: 450px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 12px grey;
    position: relative;
}

/* Section activites items double vignettes */
/* Gestion du container parent */

.activite-vignette-double{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activites-item-pomegues{
    border-radius: 20px;
    width: 305px;
    height: 241px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 12px grey;
    position: relative;
}
.activites-item-frioul{
    border-radius: 20px;
    width: 305px;
    height: 167px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 12px grey;
    position: relative;
}
.activites-item-notredame{
    border-radius: 20px;
    width: 305px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 12px grey;
    position: relative;
}

.activites-item-lonchamps{
    border-radius: 20px;
    width: 305px;
    height: 213px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 12px grey;
    position: relative;
}


/* Activité images grande vignette */

.activite-grande-img{
    width: 305px;
    height: 392PX;
    position: absolute;
    z-index: 80;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

/* Activité images taille spécifique */

/* Double Vignette 2 */
.activite-pomegues-img{
    width: 305px;
    height: 184PX;
    position: absolute;
    z-index: 70;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.activite-frioul-img{
    width: 305px;
    height: 110PX;
    position: absolute;
    z-index: 150;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

/* Double Vignette 4 */
.activite-notredame-img{
    width: 305px;
    height: 143PX;
    position: absolute;
    z-index: 180;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.activite-longchamps-img{
    width: 305px;
    height: 156PX;
    position: absolute;
    z-index: 100;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

/* Texte sous l'image */

.activites-texte{
    width: 305px;
    height: 57px;
    position: absolute;
    z-index: 200;
    bottom: 0;
    padding: 16px;
}
