/* Media sur mobile */

@media screen and (max-width: 667px) {

    header, main {
        padding: 0px 15px;
    }

    header{
        width: 100%;
    }

    h2{
        padding: 50px 0px 30px 0px;
    }

    /* Section navigation */
    #section-navigation{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 35px;

    }
    .nav-items{
         margin: 0;
         justify-self: flex-start;
    }

    
    a:focus{
        border-top: unset;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 15px;
        width: 100%;
    }
    

/* Item nav S'inscrire */
    #section-navigation div:nth-child(4){
        order: 2;
        width: 50%;
        text-align: right;
    }

    /* Item nav Hébergement */
    #section-navigation div:nth-child(2){
        order: 3;
        width: 50%;
        text-align: center;
    }

    /* Item nav Activité */
    #section-navigation div:nth-child(3){
        order: 4;
        width: 50%;
        text-align: center;
    }

    /* Item nav Logo */
    #section-navigation div:nth-child(1){
        order: 1;
        width: 50%;
    }

    /* Section recherche */
    .section-recherche{
        padding: 0px 17px;
    }

    #section-filtres{
        padding: 0px 17px;
    }

    #section-filtres ul li{
        margin: 10px 10px 10px 0px;
    }

    #information{
        padding: 36px 17px;

    }

    /* Section hebergements */

    #section-hebergement-items{
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    #section-hebergements{
        display: flex;
        flex-direction: column;
    }

    #section-hebergement{
        padding: 0px;
        order: 2;
        background-color: unset;
    }

    /* Section populaire */

    #section-bloc-populaire{
        padding: 0;
        border-radius: 0px;
    }

    #section-populaires-items{
        padding-top: 0;
    }

/* section Activités */

    #bloc-activites{
        padding-top: 0;
    }

    .section-activites-items{
        margin: 18px 0px;
        width: 100%;
    }

    #section-activites{
        flex-direction: column;
        align-items: center;
        padding: 0 0 60px 0;
    }

    .activites-items-img{
        width: 100%;
    }

    .activite-vignette-double{
        display: block;
        width: 100%;
    }

    .activite-mobil-item{
        height: 195px;
        width: 100%;
    }
    .activite-mobil-img{
        height: 137px;
        width: 100%;
    }

    .activites-item-pomegues, .activites-item-notredame{
        margin-bottom: 16px;
    }

    footer{
        flex-direction: column;
        padding: 0;
    }

    footer div{
        margin: 40px 0 20px 40px;
    }

}

/* Media sur tablette portrait*/

@media screen and (min-width: 668px) and (max-width: 1024px){
    
    header, main {
        padding: 0px 25px;
    }

    header {
        width: 100%;
    }

/* Section hebergements */

    #section-hebergements{
        display: flex;
        flex-direction: column;
    }

    #section-hebergement{
        padding: 0;
        margin: 25px 0;
        order: 2;
        background-color: unset;
    }

    .text-hebergement{
        font-size: 14px;
    }

/* Section populaire */

    #section-bloc-populaire{
        width: 100%;
        margin: 25px 0;
    }

    #section-populaires-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-populaires-item{
        width: calc(50% - 20px);
    }

/* Section activités */



    footer{
        padding: 25px;
    }


}