@media screen and (max-width: 375px) {
    
    main{
        width: 100%;
    }

    h2{
        padding: 40px 18px 23px 18px;
    }

    #section-navigation{
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
    height: auto;
    padding: 0px 17px;

    }
    .nav-items{
         margin: 0;
    }

    #section-navigation div:nth-child(4){
        order: 2;
        width: 50%;
        text-align: right;

    }
    #section-navigation div:nth-child(2){
        order: 3;
        width: 50%;
        text-align: center;

    }
    #section-navigation div:nth-child(3){
        order: 4;
        width: 50%;
        text-align: center;

    }
    #section-navigation div:nth-child(1){
        order: 1;
        width: 50%;
    }

    .section-recherche{
        padding: 0px 17px;
    }

    #section-filtres{
        width: 380px;
        padding: 0px 17px;

    }

    #section-hebergement-items{
        display: flex;
        flex-direction: column;
        width: 380px;
        padding: 0px 18px;
    }

    #section-hebergements{
        display: flex;
        flex-direction: column;
    }

    #section-hebergement{
        padding: 0px;
        order: 2;
    }

    #section-bloc-populaire{
        width: 380px;
        padding: 0px;
    }



    #section-activites{
        flex-direction: column;
        align-items: center;
    }

    .section-activites-items{
        width: 320px;
    }

    .activite-grande-img{
        width: 100%;
    }

    .activite-petite-img{
        width: 100%;
    }

    footer{
        flex-direction: column;
    }

}